<div class="row">
  <div class="col-sm-8 col-md-8">
  <h1 class="topic-title"><%= markdown @topic.name %>  <% if can? :update, @topic %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-primary btn-mini', id: 'edit-topic-btn' %>
  <% end %></h1>
    <p class="lead"><%= @topic.description %></p>
    <div class="row">
      <% if can? :create, Post %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-success' %>
    <% end %>
    </div>
    <%= render @posts %>
  </div>
  <%= will_paginate @posts %>
  <div class="col-sm-4 col-md-4">
  <% if can? :destroy, @topic %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this topic?' %>
    <% end %>    
</div>

