<div class="row">
  <div class="post-content col-sm-8 col-md-8">
   <div class="vote-arrows-post pull-left">
     <%= render partial: 'votes/voter', locals: { topic: @post.topic, post: @post } %>
   </div>
  	<h1><%= markdown @post.title %>
    
    </h1>
  	<small>
  	  <%= image_tag(@post.user.avatar.tiny.url, :class=> "user-img user-img-small") if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
     </small>
    <p><%= markdown @post.body %></p>
    <hr />
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-success pull-right' %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to "Delete", [@topic, @post], method: :delete, class: 'btn btn-large btn-danger pull-right', confirm: 'Are you sure you want to delete this post?' %>
    <% end %>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
      <h3 class='js-comments-count'><%= @comments.count %> Comments</h3>
      <div class="js-comments">
        <%= render partial: 'comments/comment', collection: @comments, locals: { topic: @topic, post: @post } %>
      </div>
      <% if can? :create, Comment %>
      <hr/>

      <a href="#" class="js-show-hide" data-selector="js-new-comment">Add Comment</a>
      <br/>
        <div class="js-new-comment gone">
          <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment } %>
        </div>
      <% end %>
    </div>
  </div> <!-- col-8 -->
  <div class="col-sm-4 col-md-4">
    <%= image_tag(@post.image_url) if @post.image? %>
     <div>
      <h3><%= pluralize(@post.points_total, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>, 
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>
    <%= render partial: 'favorites/favorite', locals: { topic: @topic, post: @post } %>
  </div>
</div>
